/* Justify all body content because of academical text nature */
body { font-family: sans-serif; text-align: justify;}
h1 { font-family: monospace; text-align: center;}
h2 { font-size: 24px; text-decoration: underline;}
